<h1 class="disappear">All Locations / Map Page</h1>

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>





  <li role="presentation"><%= link_to "edit here", homes_path %></li>

<div id="map"></div>

             <!-- JAVASCRIPT FOR THE MAP --------->
             <script>

                   // This example displays a marker at the center of Australia.
                   // When the user clicks the marker, an info window opens.
                   // The maximum width of the info window is set to 200 pixels.

                   function initMap() {
                     var uluru = {lat: 37.811042, lng: -122.266547};
                     var map = new google.maps.Map(document.getElementById('map'), {
                       zoom: 4,
                       center: uluru
                     });

                     var contentString = '<div id="content">'+
                         '<div id="siteNotice">'+
                         '</div>'+
                         '<h1 id="firstHeading" class="firstHeading">Have Sanwiches</h1>'+
                         '<div id="bodyContent">'+
                         '<p><b>Ike\'s Sandwiches</b>, also referred to as <b>Ike\' SandWiches</b>, is a large ' +
                         'sandstone rock formatio '+
                         'Northern Territory</p>'+
                         '<p>Attribution: Ike, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
                         'https://en.wikipedia.org/w/index.php?title=Ikes\'s Sanwiches</a> '+
                         '(last visited June 22, 2009).</p>'+
                         '</div>'+
                         '</div>';

                     var infowindow = new google.maps.InfoWindow({
                       content: contentString,
                       maxWidth: 200
                     });

                     var marker = new google.maps.Marker({
                       position: uluru,
                       map: map,
                       title: 'Uluru (Ayers Rock)'
                     });
                     marker.addListener('click', function() {
                       infowindow.open(map, marker);
                     });
                   }
                 </script>
                 <script async defer
                 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsgGFJbj8ZD7g_A59uNJXaHR7nf7_B-aI&callback=initMap">
                 </script>
               </body>
             </html>
