<h1>All Locations / Map Page</h1>
    <% @locations.each do |location| %>
        <ul class="list-group user-list">
          <li class="list-group-item"><%= location.name %></li>
          <%= link_to "Edit Location", edit_location_path %>
          <%= link_to "Delete Location", cancel_user_registration_path %>
        </ul>
    <% end %>
<%#= render partial: "map" %>
